{
    "presets": [
      "react",
      "es2015",
      "stage-0"
    ],
    "plugins": [
      "react-html-attrs",
      "babel-plugin-transform-decorators",
      "transform-class-properties"
    ]
  }